.content-folder-area {
    width: 100%;
    height: 80vh;
    display: none; ///hiding
}

.draggable-library {
    width: 400px;
    border: 2px solid white;
    border-radius: 10px;
}

.content-folder-toolbar {
    border-radius: 10px;
    width: 400px;
    height: 50px;
    background-color: black;
}

.content-folder-content {
    border-radius: 10px;
    width: 400px;
    height: 400px;
    background-color: red;
}