.header-links {
    position: relative;
    height: 15%;
    width: 95%;
    border: 1px solid black; // remove this after finish
    margin-left: auto;
    margin-right: auto;
    @media (min-width: 990px) {
        width: 35% !important;
        height: 15%;
    }
}

.github {
    position: absolute;
    background-image: url(../images/github-logo.png);
    animation-name: moveGit;
    animation-duration: 0.45s;
    animation-fill-mode: forwards;
    @keyframes moveGit {
        0% {
            bottom: 100%;
            left: 2%;
        }
        50% {
            bottom: 5%;
            left: 2%;
        }
        100% {
            bottom: 25%;
            left: 2%;
        }
    }
}

.linkedIn {
    position: absolute;
    filter: grayscale(1);
    background-image: url(../images/linkedin.png);
    animation-name: moveLinked;
    animation-duration: 0.32s;
    animation-fill-mode: forwards;
    @keyframes moveLinked {
        0% {
            bottom: 100%;
            left: 30%;
        }
        50% {
            bottom: 5%;
            left: 30%;
        }
        100% {
            bottom: 25%;
            left: 30%;
        }
    }
}