@import './mixins.scss';
.nav-elements-container {
    display: flex;
    flex-direction: row;
    width: 95% !important;
    height: 100%;
    position: absolute;
    z-index: 9;
    // border: 1px solid black;
    @media (min-width: 990px) {
        width: 35% !important;
        height: 100%;
    }
}

.nav-elements-elem {
    @include imgShape;
}

.cv {
    position: absolute;
    filter: grayscale(1) invert(1);
    background-image: url(../images/cv.jpg);
    &:hover {
        transform: scale(1.1);
    }
    animation-name: moveCV;
    animation-duration: 0.45s;
    animation-fill-mode: forwards;
    @keyframes moveCV {
        0% {
            top: 100%;
            left: 12%;
        }
        50% {
            top: 35%;
            left: 12%;
        }
        100% {
            top: 41%;
            left: 12%;
        }
    }
}

.about {
    position: absolute;
    background-image: url(../images/person.jpg);
    animation-name: moveAbout;
    animation-duration: 0.36s;
    animation-fill-mode: forwards;
    @keyframes moveAbout {
        0% {
            top: 100%;
            left: 30%;
        }
        50% {
            top: 16%;
            left: 30%;
        }
        100% {
            top: 22%;
            left: 30%;
        }
    }
}

.projects {
    position: absolute;
    filter: grayscale(1);
    background-image: url(../images/project.png);
    animation-name: moveProjects;
    background-color: white;
    animation-duration: 0.22s;
    animation-fill-mode: forwards;
    @keyframes moveProjects {
        0% {
            top: 100%;
            right: 30%;
        }
        50% {
            top: 18%;
            right: 30%
        }
        100% {
            top: 22%;
            right: 30%
        }
    }
}

.mailing {
    position: absolute;
    filter: grayscale(1);
    background-image: url(../images/mailing.jpg);
    animation-name: moveMailing;
    animation-duration: 0.39s;
    animation-fill-mode: forwards;
    @keyframes moveMailing {
        0% {
            top: 100%;
            right: 12%;
        }
        50% {
            top: 35%;
            right: 12%;
        }
        100% {
            top: 41%;
            right: 12%;
        }
    }
}

// .github {
//     position: relative;
//     filter: grayscale(1);
//     background-image: url(../images/mailing.jpg);
//     animation-name: moveGit;
//     animation-duration: 0.39s;
//     animation-fill-mode: forwards;
//     @keyframes moveGit {
//         0% {
//             top: 50%;
//             right: 50%;
//         }
//         50% {
//             top: 50%;
//             right: 50%;
//         }
//         100% {
//             top: -10%;
//             right: 0%;
//         }
//     }
// }