@mixin imgShape {
    width: 8vh !important;
    height: 8vh !important;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 1em white;
    }
}

.nav-elements-container {
    display: flex;
    flex-direction: row;
}

.nav-elements-elem {
    @include imgShape;
}

.github {
    position: absolute;
    filter: grayscale(1);
    background-image: url(../images/github-logo.png);
    animation-name: moveG;
    animation-duration: 0.36s;
    animation-fill-mode: forwards;
    @keyframes moveG {
        0% {
            position: absolute;
            bottom: -500%;
        }
        100% {
            position: absolute;
            bottom: 10%;
            left: 25%;
        }
    }
}

.cv {
    position: absolute;
    filter: grayscale(1) invert(1);
    background-image: url(../images/cv.jpg);
    &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 1em black;
    }
    animation-name: moveCV;
    animation-duration: 0.31s;
    animation-fill-mode: forwards;
    @keyframes moveCV {
        0% {
            bottom: -500%;
        }
        100% {
            bottom: 45%;
            left: 20%;
        }
    }
}

.mailing {
    position: absolute;
    filter: grayscale(1);
    background-image: url(../images/mailing.jpg);
    animation-name: moveM;
    animation-duration: 0.39s;
    animation-fill-mode: forwards;
    @keyframes moveM {
        0% {
            bottom: -500%;
        }
        100% {
            bottom: 45%;
            right: 20%;
        }
    }
}

.linkedIn {
    position: absolute;
    bottom: 70%;
    right: 33%;
    filter: grayscale(1);
    background-image: url(../images/linkedin-img.jpg);
    animation-name: moveL;
    animation-duration: 0.33s;
    animation-fill-mode: forwards;
    @keyframes moveL {
        0% {
            bottom: -500%;
        }
        100% {
            bottom: 70%;
            right: 33%;
        }
    }
}

.about {
    position: absolute;
    bottom: 70%;
    left: 33%;
    background-image: url(../images/person.jpg);
    animation-name: moveA;
    animation-duration: 0.36s;
    animation-fill-mode: forwards;
    @keyframes moveA {
        0% {
            bottom: -500%;
        }
        100% {
            bottom: 70%;
            left: 33%;
        }
    }
}

.projects {
    position: absolute;
    bottom: 10%;
    right: 25%;
    background-color: white;
    background-image: url(../images/project.png);
    animation-name: move;
    animation-duration: 0.31s;
    @keyframes move {
        0% {
            bottom: -500%;
        }
        100% {
            bottom: 10%;
            right: 25%;
        }
    }
}

.nav-elements-hide {
    display: none;
}