.blurred {
    animation-name: blurred;
    animation-duration: 0.33s;
    animation-fill-mode: forwards;
    @keyframes blurred {
        0% {
            filter: grayscale(0) blur(0px);
        }
        100% {
            filter: grayscale(0.8) blur(5px);
        }
    }
}